@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45PX;

}
.text-primary{
    color: #FD6E0A;

}
nav ul li {
    list-style: none;
}
nav ul li a{
    text-decoration: none;

}
nav ul{
    display: flex;
    align-items: center;
    margin-right: 70px;
}
.btn-primaer{
    background-color: #FD6E0A;
    font-weight: bold;
    margin-left: 50px;
    font-size: medium;
    padding: 20px 35px;
    border-radius: 6px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;

}
.banner-greetings{
    font-size: 45px;
    font-weight: 600px;

}
.banner-profile-pic{
    width: 500px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 27px 0 200px;
}
.banner-content{
    max-width: 500px;
}
.header{
    background-image: url(/developer.png), url(/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.section-title{
    font-size: 35;
    font-weight: bold;
    color: #181818;
}
.section-descripation{
    font: Open Sans;
    font-weight: 300;
    font-size: 18px;
    color: rgb(117, 117, 117);

}
/* About Styles */
.about{
    background-color: #f2dbca;
    border-radius: 10px;
    padding: 130px 150px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0;
    margin-top: 130px;
}
.about-items{
    display: flex;
    justify-content: space-between;
}
.item-description{
    font-weight: 600;
}
.skills-container{
    position: absolute;
    display: flex;
    gap: 20px;
    
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgb(246, 212, 188);
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* resume style */
.resume-container{
    margin-top: 150px;
    display: flex;
    gap: 24px;
}

/* .resume .section-title{
    margin-bottom: 600px;
} */
 .experience-description{
    color: rgb(117, 117, 117);

 }
 .experience-sub-title{
 color: rgb(117, 117, 117);
font-family: Open Sans;
letter-spacing: 0;
font-weight: 600 ;
 }
 .resume hr{
    margin: 30px 5px;
 }
 .btn-primary{
    /* position:absolute; */
    width: 150px;
    height: 30px;

    background-color: #FD6E0A;
    text-shadow: #3d11ab;
    border: 100px;
    border-radius: 120px;
 }
 /* .section-me{ */
    width: 1600px;
    height: 4256px;
 /* } */
  footer{
    background-color: rgb(31, 18, 41)
    display: flex;
    justify-content: space-between;
 } 